#first{
    background: #222;
    width: 1440px;
    height: 1024px;
    margin: 0 auto;
    position: relative;
}
body{
    font-family: Outfit;
}
.head{
    color: white;
    width: 1440px;
    height: 74px;
    font-size: 25px;
    display: inline-flex;
    justify-content: space-between;
    
}
.samer{
    padding-left: 61px;
}
.button{
    padding-right: 61px;
}
button {
    color: #222;
    font-size: 18px;
    font-weight: 800;
    line-height: 23px;
    width: 137px;
    height: 42px;
    border-radius: 20px;
    background: #FFB800;
    box-shadow: 0px 4px 4px 0px rgba(38, 34, 34, 0.72);
}
.images{
    width: 786px;
    height: 765px;
    position: absolute;
    bottom: 260px;
    right: 145px;
}
.elips{
    width: 450px;
    height: 430px;
    transform: rotate(331deg);
    border-radius: 80%;
    background: #FFB800;
    position: absolute;
    bottom: 481px;
    right: 181px;
}
.text{
    margin: 250px 40px 0 0;
    color: #FFB800;

    font-size: 125px;
    font-weight: 900;
    line-height: 23px;
    position: absolute;
    top: 255px;
    padding-left: 120px;
    transform: rotate(348deg);
}
.text-white{
    position: absolute;
    top: 120px;
    color: white;
    padding-left: 500px;
}
.text-buttom{
    position: absolute;
    top: 65%;
    left: 42%;
    color: #E4F1FF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
}
.button2{
    position: relative;
    top: 62%;
    left: 46%;
}
.one{
    position: absolute;
    top: 45%;
    left: 30px;
}
.two{
    position: absolute;
    bottom: 15%;
    right: 15px;
}
.three{
    position: absolute;
    top: 2%;
    right: 28%;
    transform: rotate(90deg);
}
.text_ital{
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    line-height: 23px;
    font-family:"Caveat";
    position: relative;
    top: 22%;
    left: 12%;
    transform: rotate(348deg);
}
.button2:hover{
    color: #222;
    font-size: 22px;
    font-weight: 800;
    line-height: 23px;
    width: 145px;
    height: 50px;
    border-radius: 20px;
    background: #493f3e;
    box-shadow: 2px 4px 4px 0px rgba(161, 154, 154, 0.4);






}
